body{
  padding: 0;
  margin: 0;
}

/* src/App.css */
.home-container {
  display: flex;
}

.content {
  margin-left: 250px; /* Adjust according to sidebar width */
  padding: 20px;
  /* flex: 1; */
  transition: margin-left 0.3s;
  background-color: #f2f2f2;
  min-height: 94vh;
}

.content.collapsed {
  margin-left: 60px; /* Adjust according to collapsed sidebar width */
}
